{% extends 'blog/base.html' %}

{% block content %}
<div class="mb-5"></div>
<div class="container">
  <div class="row"> 
    <div class="col-md-4">
      <h2 class="text-center text-secondary mb-4">TOP 1: Veste blazer oversize en lin</h2>
      <h3 class="text-center text-secondary mb-4">Prix: 79.90€</h3>
      <img src="https://sorella.shop/cdn/shop/products/ens_vest_pantenlin_66_66_8b5717b9-01c4-4d83-aa28-4f14ff0a1a3f_600x.jpg?v=1627293120" class="img-fluid w-75 mx-auto d-block mb-4">
      <img src="https://sorella.shop/cdn/shop/products/ens_vest_pantenlin_1_66_33e5841f-6485-4849-928e-da632feb3bb4_600x.jpg?v=1627293120" class="img-fluid w-75 mx-auto d-block mb-4">
      <a href="https://sorella.shop/collections/summer-collection/products/ensemble-vp2" class="btn btn-primary btn-lg w-75 mx-auto d-block mb-5">Acheter</a>
    </div>   
    <div class="col-md-4">
      <h2 class="text-center text-secondary mb-4">TOP 2: Cardigan long en maille crocheté</h2>
      <h3 class="text-center text-secondary mb-4">Prix: 69.90€</h3>
      <img src="https://sorella.shop/cdn/shop/products/7b892c9a-c875-4cf6-b5eb-e64973a96e1b_600x.jpg?v=1652797272" class="img-fluid w-75 mx-auto d-block mb-4">
      <img src="https://sorella.shop/cdn/shop/products/55c9c970-7e57-453f-b2a3-818c7447d4b7_600x.jpg?v=1652797274" class="img-fluid w-75 mx-auto d-block mb-4">
      <a href="https://sorella.shop/collections/summer-collection/products/cardigan-long-en-maille-crochete" class="btn btn-primary btn-lg w-75 mx-auto d-block mb-5">Acheter</a>
    </div>
    <div class="col-md-4">
      <h2 class="text-center text-secondary mb-4">TOP 3: Robe longue satinée</h2>
      <h3 class="text-center text-secondary mb-4">Prix: 39.90€</h3>
      <img src="https://sorella.shop/cdn/shop/products/IMG_4844_600x.heic?v=1651685637" class="img-fluid w-75 mx-auto d-block mb-4">
      <img src="https://sorella.shop/cdn/shop/products/IMG_4861_600x.heic?v=1651685637" class="img-fluid w-75 mx-auto d-block mb-4">
      <a href="https://sorella.shop/collections/summer-collection/products/robe-longue-satinee-1" class="btn btn-primary btn-lg w-75 mx-auto d-block mb-5">Acheter</a>
    </div>
  </div>
</div>
{% endblock %}